body{
    padding: 2rem;
    background-color: rgb(230, 226, 226);
}



.gallery ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.gallery ul{
    list-style: none;
} 

.gallery ul li{
    flex-basis: 26rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

ul li img{
    border-radius: 0.3rem;
    transition: opacity 400ms linear;
    outline: 6px solid black;
}

ul li img:hover{
    opacity: 0.7;
    cursor: grab;
}
