h1{
    font: 28px;
}

.larger-p{
    font-size: 24px;
}

.italic-p{
    font-style: italic;
}

body{
        margin: 0px;
        padding: 0px;
        background-color: #CCCCCC;
}

section{
    margin-left: 20px;
}